.searchBox {
  width: 100%;
  display: flex;
  position: relative;
  gap: 8px;
  border-radius: 9px;

  input {
    background-color: #6D67D0;
    width: 100%;
    height: 61px;
    border-radius: 9px;

    text-align: center;
    color: #C2BFF4;
    font-size: 20px;

    @media (max-width: 500px) {
      font-size: 14px;
      height: 40px;
    }

    &::-webkit-input-placeholder {
      color: #C2BFF4;

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }

    &:focus {
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0;
    }
  }

  button {
    padding: 10px 14px;
    background-color: #6D67D0;
    border-radius: 9px;
    cursor: pointer;

    @media (max-width: 500px) {
      padding: 5px 7px;
    }
  }

  .boxCities {
    position: absolute;
    bottom: -190px;
    z-index: 10;
    height: 180px;
    width: 100%;
    backdrop-filter: blur(8px);
    background-color: #6d67d0d1;
    border-radius: 9px;
    padding: 19px 16px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    font-size: 20px;
    color: white;
    box-shadow: 0 12px 10px #5151511c;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 99px solid #4d48aa;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 999px;
    }

    &::-webkit-scrollbar-corner {
      background-color: #d9d9d9;
    }

    button {
      padding: unset;
      font-size: 16px;
      letter-spacing: .04rem;
      cursor: pointer;
      width: 100%;
      text-align: left;
      background-color: unset;
      padding: 2px 8px;


      &:hover {
        background-color: #aca9ec;
      }
    }
  }
}
