.boxSecondInfo {
  width: 100%;
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  background-color: #6660C899;
  border-radius: 6px;

  img {
    width: 32px;
    height: 32px;
    opacity: .4;

    @media (max-width: 500px) {
      width: 20px;
      height: 20px;
    }
  }


  .words {
    display: flex;
    flex-direction: column;
    color: #E7E6FB;

    .name {
      font-size: 12px;

      @media (max-width: 500px) {
        font-size: 10px;
      }
    }

    .value {
      font-size: 18px;
      font-weight: 700;

      @media (max-width: 500px) {
        font-size: 14px;
      }

      small {
        font-size: 14px;
        font-weight: 700;
        margin-left: 4px;

        @media (max-width: 500px) {
          font-size: 12px;
        }
      }
    }

  }

}
